@charset "utf-8";

	.button
		{
			background-color: #333333; /* Green */
		    border: none;
		    padding: 15px 32px;

		    font-family: Gotham, Arial,sans-serif;
		    font-weight: normal;
		    font-size: 40px;

		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		}